{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    {% for product in products %}
    <div class="col-lg-4">
        {% if product.image == '' %}
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}" alt="thumbnail">
        {% else %}
        <div class="text-center game-box">
            <img src="{{ product.image.url }}" alt="thumbnail">
        </div>
        {% endif %}
        <div class="box-element product">
            <h3 class="game-title">
                <strong>{{ product.name }}</strong> <span class="badge bg-success">{{ product.score }}</span>
            </h3>
            <hr>
            <button class="btn btn-outline-primary add-btn">Add to Cart</button>
            <p class="product-price">R$ {{ product.price }}</p>
        </div>
    </div>
    {% empty %}
        <h3 class='mt-4 text-center'>Nenhum produto cadastrado</h3>
    {% endfor %}

</div>

{% endblock content %}
