{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}" alt="thumbnail">
        <div class="box-element product">
            <h3><strong>Product</strong> <span class="badge bg-success">100</span></h3>
            <hr>
            <button class="btn btn-outline-primary add-btn">Add to Cart</button>
            <h3 style="display: inline-block; float: right;">R$ 100,00</h3>
        </div>
    </div>

    
</div>

{% endblock content %}
